body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.profile-image {
    margin-bottom: 20px;
}

.profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #e0e3e0;
}

.about, .skills, .social-links {
    background-color: white;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(15, 15, 15, 0.1);
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills li {
    background: #d6d7d6;
    color: white;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.social-links ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.social-links li {
    display: inline-block;
    margin: 0 10px;
}

.social-links a {
    padding: 10px 15px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.social-links a:hover {
    background-color: #4CAF50;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}